
<div class="row" style=" background-image: url('./../../assets/delivary/delivaryBackGround1.PNG');">

  <div class="col-sm-1">
    <app-side-bar-icon></app-side-bar-icon>
  </div>

  <div class="col-sm-2"> </div>

  <div class="col-sm-6">
    <table class="table">
      <tr>
        <td>
          <img class="card-img-top" src="../../../assets/delivary/bicycle.jpg" id="devivary-img">
        </td>
        <td ><img class="card-img-top" src="../../../assets/delivary/truck.jpg" id="devivary-img"></td>
      </tr>
      <tr>
        <td>
          <img class="card-img-top" src="../../../assets/delivary/treeW.jpg" id="devivary-img">
        </td>
        <td ><img class="card-img-top" src="../../../assets/delivary/motorBike.jpg" id="devivary-img"></td>
      </tr>
    </table>
  </div>

</div>








