.side-bar-icon:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  height: 50px;
  opacity: 0.7;
}

.btn-icon {
  border-color: rgb(247, 245, 245);
  background-color: #ffffff;
}
