<div style="margin-top: 200px;">
  <button (click)="clickOnMapCart()" style="border: rgb(255, 255, 255);background-color: #ffffff;">
    <img src="../../../assets/buy.png" class="side-bar-icon" style="width: 40px;">
  </button><br><br>

  <button (click)="clickOnCall()" style="border: rgb(255, 255, 255);background-color: #ffffff;">
    <img src="../../../assets/telephone.png" class="side-bar-icon" style="width: 40px;">
  </button><br><br>

  <button (click)="clickOnMsg()" style="border: rgb(255, 255, 255);background-color: #ffffff;">
    <img src="../../../assets/text.png" class="side-bar-icon" style="width: 40px;">
  </button><br><br>

  <button (click)="clickOnMap()" style="border: rgb(255, 255, 255);background-color: #ffffff;">
    <img src="../../../assets/location.png" class="side-bar-icon" style="width: 40px;">
  </button>

</div>
