<div class="row">

  <div class="col-sm-1">
    <app-side-bar-icon></app-side-bar-icon>
  </div>

  <div class="col-sm-2 card">
    <app-side-bar></app-side-bar>
  </div>

  <div class="col-sm-6">
    <div class="container card transaction-success-or-fail-div">


      <div class="row input-field-row">
        <img class="card-img-top" src="../../../assets/payment-success-img.jpeg" id="pay-head-img">
      </div>

      <hr>

      <div class="row transaction-success-or-fail-div-btn-row">
        <div class="col-sm-6"></div>

        <div class="col-sm-3">
          <button (click)="clearCart()" type="button" class="btn btn-view-item" routerLink="/home">VIEW ITEMS</button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-pdf" routerLink="/do-transaction">EXPORT PDF</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 card" style="box-shadow: 1px 1px 1px black, 0 0 10px rgb(238, 16, 16), 0 0 5px rgb(248, 4, 4);">
    <app-cart-data [allCartItems] = "cartItems" [totalBill]="totalBill"></app-cart-data>
  </div>
</div>





