<div class="row" style="background-color:red;">
 <div class="row" style="background-color:rgb(179, 7, 7);padding-top: 20px;">
  <p style="color: #ffffff;text-align: center;" >
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf594;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf5d1;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf787;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf06c;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf816;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf805;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf810;</i>
  &nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf004;</i>
</p>
</div>
  <div  class="container-fluid bg-grey" style="margin-top: 30px;">
    <h2 class="text-center" style="color: #ffffff;">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5 card" style="border-radius: 10px;background-color:red">

        <h3 style="color: #ffffff;">&nbsp;&nbsp;&nbsp;&nbsp; <b>Contact us and we'll get back to you within 24 hours.</b></h3>
        <br>
        <p style="color: #ffffff;">&nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf594;</i> &nbsp;&nbsp;&nbsp;&nbsp; Mari's Road,Rajagiriya, Sri Lanka</p>
        <p style="color: #ffffff;">&nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf1e4;</i> &nbsp;&nbsp;&nbsp;&nbsp; +94 011 1245787 | +94 011 5544786</p>
        <p style="color: #ffffff;">&nbsp;&nbsp;<i style='font-size:24px' class='fas'>&#xf109;</i>&nbsp;&nbsp;&nbsp;&nbsp;  MyPhoneShop@something.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>

          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <br>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-primary pull-right" type="submit" style="width: 100%;" (click)="sendIdea()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;margin-bottom: 5px;">
    <div class="col-sm-5">
      <img src="../../../assets/mapLocation.png" style="width:100%;margin-left: 10px;border-radius: 1px;">
    </div>
    <div class="col-sm-7 card"  style="border-radius: 1px;background-color:rgb(179, 7, 7)">
      <h2 style="color: #ffffff;">ABOUTH US</h2>
      <hr>
      <span style="color: #ffffff;">
        Our very own range of SL-GAP (SL- Good Agricultural Practices) Certified Vegetables and Fruits. Good for vision, immune function, reproduction and cell communication. Promotes tissue repair and thyroid health. Contains - Vitamin: A, K, C, B6 Minerals: Manganese, Copper, Iron. Disclaimer: Please note that the image is used for presentation purposes only. Actual product may slightly defer. Our team at Cargills Online takes every step to ensure to maintain the accuracy of all information displayed. *Images for illustration purposes only. Product received may vary.
      </span>
      <hr>
      <span style="color: #ffffff;">
        Our very own range of SL-GAP (SL- Good Agricultural Practices) Certified Vegetables and Fruits. Good for vision, immune function, reproduction and cell communication. Promotes tissue repair and thyroid health. Contains - Vitamin: A, K, C, B6 Minerals: Manganese, Copper, Iron. Disclaimer: Please note that the image is used for presentation purposes only. Actual product may slightly defer. Our team at Cargills Online takes every step to ensure to maintain the accuracy of all information displayed. *Images for illustration purposes only. Product received may vary.
      </span>
    </div>
  </div>

  <div class="row">
    <img src="../../../assets/food-city-img.jpg" style="width:100%;margin-left: 10px;border-radius: 1px;">
  </div>
</div>

<div class="row" style="background-color: #000000;">
  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <i class='fas fa-angle-down' style='font-size:48px;color:red'></i>
    </a>
    <p>www.phone-shop.lk @version 1.0.2.1 srilanka</p>
  </footer>
</div>


