<div class="container card mainDIv">
  <div class="row">
    <img class="card-img-top" src="../../../assets/site-bar-icon/map.jpg" id="map-img">
  </div>

  <div class="row">
    <div class="col-md-6" style="height: 100px;background-color: #000000;margin-top: 20px;">
      <br>
    <span style="color: white;">a communication or conversation by telephone.
        "I had an important telephone call from Geneva"</span>
    </div>
    <div class="col-md-6" style="height: 100px;background-color: #a5a5a5;margin-top: 20px;">
      <br>
      <span style="font-size: 15px;color: blue;"> Mari's Road,<br>Rajagiriya,<br> Sri Lanka</span>
    </div>
  </div>
</div>

