
<div class="row">

  <div class="col-sm-1">
    <app-side-bar-icon></app-side-bar-icon>
  </div>

  <div class="col-sm-2 card">
    <app-side-bar></app-side-bar>
  </div>

  <div class="col-sm-6">
    <div class="container card">


      <div class="row input-field-row">
        <img class="card-img-top" src="../../../assets/bill-payment.jpeg" id="pay-head-img">
      </div>

      <div class="row input-field-row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="usr"><b>Card Number</b></label>
            <input type="text" class="form-control" id="usr" placeholder=".... .... .... ....">
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="usr"><b>Expiry</b></label>
            <input type="text" class="form-control" id="usr" placeholder="MM/DD">
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="usr"><b>CVC</b></label>
            <input type="text" class="form-control" id="usr" placeholder="...">
          </div>
        </div>
      </div>

      <div class="row input-field-row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="usr"><b>Name on Card</b></label>
            <input type="text" class="form-control" id="usr" placeholder="eg. first last">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="usr"><b>Amount(Rs)</b></label>
            <input type="text" class="form-control" id="usr" placeholder="100.00">
          </div>
        </div>
      </div>

      <div class="row">
        <button type="button" class="btn" routerLink="/do-transaction" (click)="doPayment()">PAY</button>
      </div>

      <hr>

      <div class="row" style="background-color: cornflowerblue;margin-bottom: 10px;">
        <span style="text-align: center;font-size: 30px;">
          &nbsp;
          <i class="fa fa-cc-amex" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-cc-discover" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-cc-paypal" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
        </span>
      </div>

    </div>

  </div>

  <div class="col-sm-3 card" style="box-shadow: 1px 1px 1px black, 0 0 10px rgb(238, 16, 16), 0 0 5px rgb(248, 4, 4);">
    <app-cart-data [allCartItems] = "cartItems" [totalBill]="totalBill"></app-cart-data>
  </div>
</div>








